@import "tailwindcss";

:root{
  --color: #111;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}
body{
  background-color: #111;
  color: var(--color);
  background-image: url("https://copilot.microsoft.com/th/id/BCO.db4b3c2f-3120-4d67-ad28-10410b22f124.png");
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
}
input{
  padding: 5px;
  margin-top: 10px;
  margin-left: 10px;
  border: 3px solid black;
  border-radius: 10px;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
button{
  padding: 10px 15px;
  margin-top: 10px;
  font-size: larger;
  border-radius: 20px;
  cursor: pointer;
}
nav{
  width: 100%;
  position: relative;
  right: 0;
}
nav>h2{
  padding-left: 5px;
}
.bg-gray-950{
  margin-top: 7px;

}
.bg-white{
  position:relative;
  left: 10px;
  padding: 7px;
  border-radius: 15px;
  margin-bottom: 10px;
}
.wrap{
  position: relative;
  top: 3vh;
  left: 2vw;
  border-radius: 15px;
  padding-left: 20px;
  height: 65vh;
  width: min(45%, 650px);
  background-color: rgba(255, 255, 255, 0.247);
  margin-right: 20px;
}
.font-bold{
  width: 65%;
}
.feel{
  position: relative;
  padding-right: 5px;
}
.big-wrap{
  display: flex;
  justify-content: space-between;
}
.Navy{
  max-height: 10vh;
}
.Navy>div>img{
  padding-top: 6px;
  max-height: 7vh;
  margin: 0px;
}
.Navy>div{
  display: flex;
  justify-content: space-between;
}
.Navy>div>button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  margin-right: 15px;
  background-color: black;
  color: wheat;
  cursor: pointer;
}
button:active{
  scale: 0.9;
}
.bruhhhhhhh{
  transition: background-position 0.6s ease-in-out;
}
@media (max-width:480px){

    .wrap{
        width:95%;
        padding:15px;
    }

    .font-bold{
        width:97%;
    }

    button{
        width:96%;
    }
}
@media (max-width: 768px){

  .big-wrap{
    flex-direction: column;
  }

  .wrap{
    width: 90%;
    margin: 20px auto;
    left: 0;
    top: 0;
    height: auto;
    padding: 20px;
  }

}
@media (min-width: 950px) and (max-width:1250px) {
   .big-wrap{
    flex-direction: column;
  }
  .font-bold{
      font-size: 100px;
    }
  .text-6xl{
    font-size: 100px;
  }
  .text-lg{
    font-size: 50px;
  }
  .relative{
    font-size: 50px;
  }
  .text-2xl{
    font-size: 50px;
  }
  button{
    font-size: 50px;
  }
  .Navy>div>button{
    height: 70px;
  }
  .tur{
    height: 65vh;
  }
  .wrap{
    width: 90%;
    margin: 20px auto;
    left: 0;
    top: 0;
    height: auto;
    padding: 20px;
  }
}