@import "tailwindcss";

:root{
  --color: #fff;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}
body{
  background-color: #111;
  color: var(--color);
   background-image: url("./components/23643966790090249.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
input{
  padding: 5px;
  position: relative;
  left: 10px;
  margin-top: 10px;
  margin-left: 10px;
  border: 6px solid #fdf0d5;
  border-radius: 22px;
  background-image: linear-gradient(to right, #fdf0d5, #760000);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}
.bg-white{
  margin-left: 15px;
  font-family: 'arial';
  font-weight: 500;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.heigh{
  height: 20vh;
}
button{
  padding: 10px 15px;
  margin-top: 10px;
  font-size: larger;
  border-radius: 20px;
  cursor: pointer;
}
nav{
  width: 100%;
  position: relative;
  right: 0;
}
nav>h2{
  padding-left: 5px;
}
.bg-gray-950{
  margin-top: 7px;

}
.bg-white{
  position:relative;
  left: 10px;
  padding: 7px;
  border-radius: 15px;
  margin-bottom: 10px;
}
.wrap{
  position: relative;
  top: 3vh;
  left: 2vw;
  border-radius: 15px;
  padding-left: 20px;
  height: 65vh;
  width: min(45%, 650px);
  background-color: rgba(255, 255, 255, 0.247);
  margin-right: 20px;
}
.font-bold{
  width: 65%;
}
.feel{
  position: relative;
  padding-right: 5px;
}
.big-wrap{
  display: flex;
  justify-content: space-between;
}
.Navy{
  max-height: 20vh;
}
.Navy>div>img{
  padding-left: 5px;
  max-height: 11vh;
  margin: 0px;
}
.Navy>div{
  display: flex;
  justify-content: space-between;
}
.Navy>div>button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  margin-right: 15px;
  background-color: #003049;
  color: wheat;
  cursor: pointer;
  border: 1px solid #fdf0d5;
}
button:active{
  scale: 0.9;
}
.bruhhhhhhh{
  transition: background-position 0.6s ease-in-out;
}
.foot{
  padding-top: 15px;
}
.fahhh{
  display: flex;
}
@media (max-width:480px){

    .wrap{
        width:95%;
        padding:15px;
    }

    .font-bold{
        width:97%;
    }

    button{
        width:96%;
    }
}
@media (max-width: 768px){

  .big-wrap{
    flex-direction: column;
  }

  .wrap{
    width: 90%;
    margin: 20px auto;
    left: 0;
    top: 0;
    height: auto;
    padding: 20px;
  }

}
@media (min-width: 950px) and (max-width:1250px) {
   .big-wrap{
    flex-direction: column;
  }
  input{
    position: relative;
    left: 10px;
  }
  .inwrap{
    display: flex;
    align-items: center;
    position: relative;
    left: 25px;
  }
  .bg-white{
    position: relative;
    top: 5px;
    height: 130px;
    width: 180px;
    font-size: 60px;
  }
  .Navy>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .big-wrap{
    position: relative;
    top: 50px;
    right: 10px;
  }
  .foot{
    font-size: 50px;
  }
  .font-bold{
      font-size: 100px;
    }
  .text-6xl{
    font-size: 100px;
  }
  .text-lg{
    font-size: 50px;
  }
  .relative{
    font-size: 50px;
  }
  .text-2xl{
    font-size: 50px;
  }
  button{
    font-size: 50px;
  }
  .Navy>div>button{
    height: 70px;
  }
  .tur{
    height: 65vh;
  }
  .wrap{
    width: 90%;
    margin: 20px auto;
    left: 0;
    top: 0;
    height: auto;
    padding: 20px;
  }
}